<nav>
    <div class="jumbotron">
        <form class="form-inline" ng-submit="ctrl.searchFlight()">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label label-info">Origin</label><br><autocomplete ng-model="ctrl.origin" data="ctrl.originAirports" on-type="ctrl.updateOriginAirports" required></autocomplete>
                                <autocomplete ng-model="ctrl.origin" class="form-control" data="ctrl.originAirports" on-type="ctrl.updateOriginAirports" required></autocomplete>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label label-info">Destination</label><br><autocomplete ng-model="ctrl.destination" data="ctrl.destinationAirports" on-type="ctrl.updateDestinationAirports"></autocomplete>
                                <autocomplete ng-model="ctrl.destination" class="form-control" data="ctrl.destinationAirports" on-type="ctrl.updateDestinationAirports"></autocomplete>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label label-info">Departure Date</label><br><input id="datepicker" type="text" placeholder="Pick date.." class="form-control" ng-model="ctrl.departureDate" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label label-info">Number of passengers</label><br>
                                <select class="form-control" ng-init="ctrl.numberOfPassengers = ctrl.numberOfPassengers || ''" ng-model="ctrl.numberOfPassengers" required>
                                    <option value="">Pick a number..</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <br><input class="btn btn-default" type="submit" value="Search">
                </div>
            </div>
        </form>
    </div>
</nav>

<h1 ng-show="ctrl.noresult">Ingen resultater</h1>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron" ng-show="ctrl.flights.length > 0" ng-controller="AppLoginCtrl">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th style="cursor: pointer;" ng-click="ctrl.orderByField = 'taveltime'; ctrl.reverseSort = !ctrl.reverseSort">Travel Time</th>
                <th style="cursor: pointer;" ng-click="ctrl.orderByField = 'fromdestination'; ctrl.reverseSort = !ctrl.reverseSort">From Destination</th>
                <th style="cursor: pointer;" ng-click="ctrl.orderByField = 'todestination'; ctrl.reverseSort = !ctrl.reverseSort">To Destination</th>
                <th style="cursor: pointer;" ng-click="ctrl.orderByField = 'airline'; ctrl.reverseSort = !ctrl.reverseSort">Airline</th>
                <th style="cursor: pointer;" ng-click="ctrl.orderByField = 'price'; ctrl.reverseSort = !ctrl.reverseSort">Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="flight in ctrl.flights | orderBy:ctrl.orderByField:ctrl.reverseSort">
                <td>{{$index + 1}}</td>
                <td>{{flight.date| date : 'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{flight.traveltime| minutesToDateTime | date:'HH:mm'}}</td>
                <td>{{flight.origin}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.airline}}</td>
                <td>{{flight.totalPrice|currency:"€"}}</td>
                <td><a ng-show="isAuthenticated" href="#/reservate/{{flight.flightID}}?passengers={{ctrl.numberOfPassengers}}&source={{flight.baseApiUrl}}" class="btn btn-primary btn-sm">Order Now</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade in" ng-style="{ 'display': (ctrl.selectedFlight !== null) ? 'block' : 'none' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" ng-controller="FlightReservationController as reservateCtrl">
            <form ng-submit="reservateCtrl.reservate(ctrl.selectedFlight)">

                <div ng-repeat="i in reservateCtrl.createPassengers(reservateCtrl.numberOfPassengers) track by i">
                    <h4>Passenger #{{i + 1}}</h4>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">First name</span>
                        <input type="text" class="form-control"  ng-model="reservateCtrl.passengers[i].firstname" required>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Last name</span>
                        <input type="text" class="form-control"  ng-model="reservateCtrl.passengers[i].lastname" required>
                    </div>
                    <br>
                </div>
                <div align="center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
            $(document).ready(function () {
    $("#datepicker").datepicker({
    dateFormat: "yy-mm-dd"
    });
    });</script>